.md-grid {
  max-width: 100%;
}

.center {
  display: block;
  margin: 0 auto;
  background-color: bisque;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.rounded-sm {
  border-radius: 10px;
  border: 5px;
}

.shadow-splash {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shadow-splash-min {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 18px 18px,
    rgba(0, 0, 0, 0.12) 0px -4px 10px,
    rgba(0, 0, 0, 0.12) 0px 1px 2px,
    rgba(0, 0, 0, 0.17) 0px 4px 4px,
    rgba(0, 0, 0, 0.09) 0px -1px 2px;
}

th, td {
  border: 1px solid var(--md-typeset-table-color);
  border-spacing: 0;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.md-typeset__table {
  line-height: 1;
}

.md-typeset__table table:not([class]) {
  font-size: .74rem;
  border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
  padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
  background-color: #e8e8e8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
  background-color: hsla(var(--md-hue),25%,25%,1)
}

.py_mk_ide {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 18px 18px,
    rgba(0, 0, 0, 0.12) 0px -4px 10px,
    rgba(0, 0, 0, 0.12) 0px 1px 2px,
    rgba(0, 0, 0, 0.17) 0px 4px 4px,
    rgba(0, 0, 0, 0.09) 0px -1px 2px;  
}

.py_mk_wrapper {
  border-radius: 10px;
}